.navbar
  %a{:href=>"/"}首页
.page-net-show
  .action
    %a.edit{:href => "/nets/#{@net.id}/edit"} 编辑
    %a.delete{:href => "javascript:;",:"data-netid" => @net.id}删除
  .info
    .name= @net.name
    .desc= @net.desc
    
  .action
    %a.new-point{:href => "/nets/#{@net.id}/points/new"} new point
  .point-list
    - @net.points.each do |point|
      .point
        %a{:href => "/nets/#{@net.id}/points/#{point.id}" }=point.name
